*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #fff;
}

html{
	font-family: arial;
}

.wapper{
	max-width: 1440px;
	margin: 0 auto;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

/* header*/
/* header{
	margin: 0 0 -4px -3px;
} */
header img{
	width: 100%;
}


/* navigation */
.nav{
	background-color:#333;
	display: flex;
	align-items: center;
}

.nav li{
	padding: 20px 31px;
}

.nav li:hover{
	background: #6382a082;
 	cursor: pointer;
 	opacity: 0.7;
}

.nav li a{
	text-transform: uppercase;
	color: #fff;
}

/* slider */
.slider-link{
    width: 100%;
	height: 400px;
	display: flex;
}

.slider-link hr{
	margin-bottom: 20px;
}

.slider-link .slider{
	overflow: hidden;
	width: 70%;
}

.slider figure{
    width: 500%;
    animation: 10s slider infinite;
	font-size: 0;
	left: 0;
	position: relative;
    margin: 0;
    text-align: left;
}

.slider figure img{
	width: 20%;
	height: 400px;
}

@keyframes slider{
	0% {
		left: 0;
	}
	
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
	

}

.link{
	width: 30%;
    background-color: #6ea6d3;
    padding: 30px;
}

.link li{
	font-size: 20px;
    margin-bottom: 20px;
}

/* video-contact */
.video-banner{
	display: flex;
	justify-content: space-between;
	position: relative;
}

.card,
.video{
	width: 49%;
	height: 300px;
}

.video video{
	width: 100%;
	height: 300px;
}

.video video img{
	width: 100%;
}

/* card */
.front, .back{
	width:49%;
	height:100%;
	overflow:hidden;
	backface-visibility:hidden;
	position:absolute;
	transition: transform .5s linear;
}
.card:hover > .front{
	transform: perspective(600px) rotateX(-180deg);
}
.card:hover > .back{
	transform: perspective(600px) rotateX(0deg);
}
.back{
	background: #8533cb;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
	color: #fff;
}



.back h2{
	font-size: 2rem;
}

.back small{
	font-size: 1.5rem;
}

.back .contact-icon{
	font-size: 4rem;
}

.back .contact-icon i{
	transition:ease-in-out 0.3s;
	margin: 1rem 0;
	padding: 1rem;
    border-radius: 2rem;

}

.back .contact-icon i:hover{
	transform: scale(1.1);
    background-color: #fff;
    color: #333;
}

.front{
	background: url(../images/banner-slide2.gif) center no-repeat;
}


/* .animation */
.animation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.animation .content{
	height: 500px;
	width: 25%
}

.animation .content:hover{
	transform: scale(1.1);
	transition:ease-in-out 0.4s;
	box-shadow: 0 5px 20px rgb(0 0 0);
}

.animation .content:hover .box{
	transform: scale(1.2);
	transition:ease-in-out 0.5s;
}

.animation .content h2{
	margin: 20px 0;
	color: #fff;
}

.animation .content a{
	padding: 6px 23px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
	display: none;
}

.animation .content a:hover{
	background-color: #fff;
	color: #000;
}

.animation .content:hover a{
	display: inline-block;
}

.animation .content .top{
	height: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align:center;
}

.animation .content .top i{
	font-size: 50px;
	color: #fff;
}

.animation .content .bottom{
	height: 50%;
}

.animation .content img{
	width: 100%;
	height: 250px;
}

.animation .content .top-1{
	background-color: #8533cb;
}

.animation .content .top-2{
	background-color: #fe8f01;
}

.animation .content .top-3{
	background-color: #79d400;
}

.animation .content .top-4{
	background-color: #ff3b34;
}

footer{
	height: 70px;
	width: 100%;
	background-color:burlywood;
}