<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nguyễn Quang Thuận</title>
	<link rel="icon" href="../images/banner-slide2.gif">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
	<link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
	<!-- header -->
	<header>
		<img src="../images/banner1.gif" alt="ảnh nền banner">
	</header>

	<!-- navigation -->
	<ul class="nav">
		<li><a href="../index.html">Trang chủ</a></li>
		<li><a href="../index.html">Giới thiệu</a></li>
		<li><a href="../index.html">Đơn vị chức năng</a></li>
		<li><a href="../index.html">Đảng-đoàn thể</a></li>
		<li><a href="../index.html">Đào tạo</a></li>
		<li><a href="../index.html">Liên hệ</a></li>
	</ul>

	<div class="main">
        <div class="box-1">
            <div class="border-radius-1">
                Border-radius 10px
            </div>

            <div class="border-radius-2">
                Border-radius Hinh tron
            </div>

            <div class="box-shadow">
                Box-shadow
            </div>
        </div>

        <div class="box-2">
            <div class="line-gradient">
                line-gradient
            </div>

            <div class="radial-gradient-1">
                Radial-gradient
            </div>
            
            <div class="radial-gradient-2">

            </div>
        </div>

        <div class="box-3">
            <div class="anh-bo-goc">
                <img src="./assets/images/anh-nen.jpg" alt="anhr nen">
            </div>
            <div class="anh-bo-tron">
                <img src="./assets/images/anh-nen.jpg" alt="anhr nen">
            </div>
            <div class="anh-scale">
                <img src="./assets/images/anh-nen.jpg" alt="anhr nen">
            </div>
        </div>

        <div class="box-4">
            <div class="anh-bo-goc">
                <img src="./assets/images/anh-nen.jpg" alt="anhr nen">
            </div>
            <div class="anh-bo-tron">
                <img src="./assets/images/anh-nen.jpg" alt="anhr nen">
            </div>
            <div class="anh-scale">
                <img src="./assets/images/anh-nen.jpg" alt="anhr nen">
            </div>
        </div>

        
    </div>

    <div class="chuyendong">
            
    </div>

</body>
</html>