<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nguyễn Quang Thuận</title>
	<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/form.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
	<div class="wapper">
        <div class="container">
            <!-- header -->
	<header>
		<img src="../images/banner1.gif" alt="ảnh nền banner">
	</header>

	<!-- navigation -->
	<ul class="nav">
		<li><a href="../index.html">Trang chủ</a></li>
		<li><a href="../index.html">Giới thiệu</a></li>
		<li><a href="../index.html">Đơn vị chức năng</a></li>
		<li><a href="../index.html">Đảng-đoàn thể</a></li>
		<li><a href="../index.html">Đào tạo</a></li>
		<li><a href="../index.html">Liên hệ</a></li>
	</ul>

    <div class="container">
        <div class="content">
            <form action="">
                <h1>Đăng ký</h1>
                <small>Nhanh chóng và dễ dàng</small>
                <hr>

                <div class="name">
                    <input type="text" name="" value="" placeholder="Họ">
                    <input type="text" name="" value="" placeholder="Tên">
                </div>

                <input type="text" name="" value="" placeholder="Số di động hoặc email" class="phone">

                <input type="text" name="" value="" placeholder="Mật khẩu mới" class="password">

                <span>Ngày sinh?</span>
                 <div class="date">
                    <select name="day" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                    <select name="month" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>

                    <select name="years" id="">
                        <option value="1996">1996</option>
                        <option value="1997">1997</option>
                        <option value="1998">1998</option>
                        <option value="1999">1999</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                    </select>
                </div>

                <span>Giới tính?</span>
                <div class="sex">
                    <label for="">
                        <span>Nam</span>
                        <input type="radio" name="gioitinh" value="">
                    </label>
                    
                    <label for="">
                        <span>Nữ</span>
                        <input type="radio" name="gioitinh" value="">
                    </label>

                    <label for="">
                        <span>Tuỳ chỉnh</span>
                        <input type="radio" name="gioitinh" value="">
                    </label>
                </div>

                <p>Bằng cách nhấp vào Đăng ký, bạn đòng ý với <a href="#">Điều khoản.</a> <a href="#">Chính sách dữ liệu</a> và <a href="#">Chính sách cookie</a> của chúng tôi. Bạn có thể nhận được thông báo của chúng tôi qua SMS và huỷ nhận bất kỳ lúc nào.</p>


                <div class="submit">
                    <input type="submit" name="" value="Đăng ký">
                </div>
            </form>
        </div>
    </div>
        </div>
    </div>
</body>
</html>
